$primary_font: "Roboto", sans-serif;
$secondary_font: "Roboto", sans-serif;
$primary_font_color: #424242;
$secondary_font_color: #999999;
$additional_color: #ffffff;
$accent_color: #ff9b9b;
$fa-font-path: "libs/font-awesome/fonts";
@import "fonts";