//nav menu
.close-btn {display: none;}
.headbox-menu {
	margin: 50px 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}
.nav-list {
	min-height: 40px;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	margin: 0;
	li a{
		padding: 0 20px;
		color: $secondary_font_color;
		font: 600 18px $primary_font;
		text-transform: uppercase;
		cursor: pointer;
		&:hover {
			text-decoration: none;
			transition: all .4s ease-in-out;
		}
	}
}
.header-sidebar {
	width: 100%;
	min-height: 50px;
	box-shadow: 3px 1px 3px #000000;
	display: flex;
	align-items: center;
}