.brief-info {
	margin-bottom: 100px;
	.contact-contentbox {
		font: 300 14px/31px $primary_font;
		padding: 40px 0;
		i {color: #bebebe;}
	}
	.button-box {
		min-height: 130px;
		display: flex;
		align-items: flex-end;
	}
}